* {
    z-index: 10;
    
}

.section {
    height: 100vh;
    position: relative;
}

.letter {
    font-size: 100vh;
    font-weight: 1000;
    color: lightblue;
    opacity: 30%;
    left: -30vh;
    top: -30vh;
    position: absolute;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.mainvid {
    width: 90%;
    height: 24.4vw;
    border-radius: 15px;
}

.testimonial {
    width: 100%;
}


.testimonialvid {
    width: 100%;
}

.offer {
    width: 600px;
    text-align: left;
}

@media (min-width: 539px) and (max-width: 1200px) {
    .mainvid {
        width: 500px;
        height: 285px;

    }
    
}
@media (max-width: 539px) {
    .mainvid {
        height: 50vw;

    }
}

@media (max-width: 1200px) {
    .offer {
        text-align: center;
        width: 100vw;
    }
}


@media (min-width: 539px) and (max-width: 1200px) {
    .testimonial {
        width: 500px;
    }

    
}

.logo {
    height: 5%; 
    text-align: center; 
    font-weight: 900; 
    font-size: 2.2rem;
}

.cat {
    width: 50vw; 
    margin: 50px; 
    border-radius: 10px;
}

@media (max-width: 900px) {
    .cat {
        width: 90vw;
    }
}

.contacts {
    margin: 0px; 
    height: 20vw;
    display: grid;
}

.contacts .info {
    color: white;
    font-size: 1.3rem;
}

.contacts .header {
    color: white;
}

.contacts .header h3 {
    color: rgb(190, 182, 182);
}


@media (max-width: 539px) {
    .testimonial {
        width: 80dvw;
    }

    .logo {
        font-size: 2rem;
    }

    .sub {
        overflow: hidden;
        height: 0 ;
        width: 0;
        overflow: hidden;
    }
}

.testimonialh1 {
    font-size: 5rem; 
    margin-bottom: 10%; 
    font-weight: 800; 
    color: white;
}

@media (max-width: 580px) {
    .testimonialh1 {
        font-size: 3rem;
    }
}



