* {
    z-index: 10;
}

.section {
    height: 100vh;
    position: relative;
}

.letter {
    font-size: 100vh;
    font-weight: 1000;
    color: lightblue;
    opacity: 30%;
    left: -30vh;
    top: -30vh;
    position: absolute;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.mainvid {
    width: 100%;
}

.testimonial {
    width: 100%;
}


.testimonialvid {
    width: 100%;
}

@media (min-width: 539px) and (max-width: 1200px) {
    .mainvid {
        width: 500px;
    }

    
}
@media (min-width: 539px) and (max-width: 1200px) {
    .testimonial {
        width: 500px;
    }

    
}

.contacts {
    margin: 0px; 
    height: 20vw;
    display: grid;
}

.contacts .info {
    color: white;
    font-size: 1.3rem;
}

.contacts .header {
    color: white;
}

.contacts .header h3 {
    color: rgb(190, 182, 182);
}


@media (max-width: 539px) {
    .testimonial {
        width: 80dvw;
    }
}

.testimonialh1 {
    font-size: 5rem; 
    margin-bottom: 10%; 
    font-weight: 800; 
    color: white;
}

@media (max-width: 580px) {
    .testimonialh1 {
        font-size: 3rem;
    }
}



